<launch>
  <arg name="id" default="0" />
  <arg name="vrep_id" default="$(arg id)" />
  <arg name="tf_prefix" default="p3dx_$(arg id)" />
  <group ns="p3dx_$(arg id)">
    <!-- robot's id in ROS ecosystem -->
    <param name="tf_prefix" type="string" value="$(arg tf_prefix)" />
    <param name="vrep_index" type="int" value="$(arg vrep_id)" />

    <!-- run dpl -->
    <include file="$(find p3dx_dpl)/launch/dpl.launch" />

    <!-- nodes in robot -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <rosparam file="$(find p3dx_robot)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find p3dx_robot)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find p3dx_robot)/config/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find p3dx_robot)/config/global_costmap_params.yaml" command="load" />
      <rosparam file="$(find p3dx_robot)/config/base_local_planner_params.yaml" command="load" />
      <remap from="cmd_vel" to="dpl/cmd_vel" />
    </node>

    <node pkg="hector_mapping" type="hector_mapping" name="hector_mapping" output="screen">
      <!-- Topic names -->
      <param name="scan_topic" value="dpl/hal/laser/sensor0/LaserScan" />    
      <!-- Frame names -->
      <param name="base_frame" value="$(arg tf_prefix)/base_footprint" />
      <param name="odom_frame" value="$(arg tf_prefix)/odom"/>
      <param name="map_frame" value="$(arg tf_prefix)/map"/>
      <param name="output_timing" value="false"/>
      <!-- Tf use -->
      <param name="use_tf_scan_transformation" value="true"/>
      <param name="use_tf_pose_start_estimate" value="false"/>
      <param name="pub_map_odom_transform" value="true"/>
      <param name="advertise_map_service" value="true"/>
      <!-- Map size / start point -->
      <param name="map_resolution" value="0.050"/>
      <param name="map_size" value="2048"/>
      <param name="map_start_x" value="0.5"/>
      <param name="map_start_y" value="0.5" />
      <param name="map_multi_res_levels" value="2" />
      <!-- Map update parameters -->
      <param name="update_factor_free" value="0.4"/>
      <param name="update_factor_occupied" value="0.9" />    
      <param name="map_update_distance_thresh" value="0.4"/>
      <param name="map_update_angle_thresh" value="0.06" />
    </node>
  </group>
</launch>
