<!-- launch all hal nodes -->
<launch>
  <group ns="hal">
    <!-- vrep robot's index -->
    <param name="vrep_index" type="int" value="0" />

    <!-- robot's id in ROS ecosystem -->
    <param name="robot_id" type="int" value="0" />

    <!-- hal members -->
    <node pkg="p3dx_hal_vrep" type="laser" name="laser" respawn="true" />
    <node pkg="p3dx_hal_vrep" type="accelerometer" name="accelerometer" respawn="true" />
    <node pkg="p3dx_hal_vrep" type="gyroscope" name="gyro" respawn="true" />
    <node pkg="p3dx_hal_vrep" type="ultrasonic" name="ultrasonic" respawn="true" />
    <node pkg="p3dx_hal_vrep" type="bumper" name="bumper" respawn="true" />
    <node pkg="p3dx_hal_vrep" type="rightMotor" name="rightMotor" respawn="true" />
    <node pkg="p3dx_hal_vrep" type="leftMotor" name="leftMotor" respawn="true" />
  </group>
</launch>